.wrapper {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  font-family: sans-serif; }

ul {
  padding: 0px; }

nav {
  background-color: #08162d;
  color: #8eafe5; }
  nav li {
    padding: 0;
    list-style-type: none;
    padding: 10px 10px; }
    nav li:hover {
      color: #08162d;
      background-color: #8eafe5; }

img {
  height: 200px;
  width: 300px;
  position: fixed;
  bottom: 100px; }

p {
  padding: 0; }

footer {
  background-color: #08162d;
  color: #3862a5;
  margin: 0; }

h3 {
  margin: 0;
  padding: 10px; }

h2 {
  background-color: #19396d;
  color: #8eafe5;
  padding: 10px;
  width: 100%;
  border-radius: 10px; }
