p {
  font-family: 'Spirax', cursive;
  background-color: #08162d;
  color: #8eafe5;
  border-radius: 10px;
  padding: 15px; }
  p:hover {
    background-color: white; }

h1 {
  font-family: 'Spirax', cursive; }

#john {
  color: tomato; }
