
@import "variables";
@import "mixins";

.wrapper{
  width: 80%;
  margin: 0 auto;
  @include font;
}

ul{
  padding: 0px;
}
nav{
  background-color: $darkColor;
  color: $lighterColor;
  li{
    padding: 0;
    list-style-type: none;
    padding: 10px 10px;
    &:hover{
      color: $darkColor;
      background-color: $lighterColor;
    }
  }
}

img{
  height: 200px;
  width: 300px;
  position: fixed;
  bottom: 100px;
}
p{
  padding: 0;
}

footer{
  background-color: $darkColor;
  color: $lightColor;
  margin: 0;
}

h3{
  margin: 0;
  padding: 10px;
}

h2{
  background-color: $mediumColor;
  color: $lighterColor;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}
